Django==5.0.6
django-cors-headers==4.4.0
django-crispy-forms==2.3
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
dj-database-url==2.3.0
psycopg2-binary==2.9.10  # If you're using PostgreSQL (remove if using other databases)
pillow==10.3.0  # For image handling
python-dotenv==1.0.1  # For managing environment variables
gunicorn==22.0.0  # If you're using gunicorn as the web server
whitenoise==6.9.0  # For serving static files in production
